
@model FindJob.Web.Models.JobListViewModel

    <div class="list-group">

        <table>
            @foreach (var Job in Model.Jobs)
            {
                <tr>
                    <td>

                        <a href="/Advertisement/FilterByJob?job=@Job.Id">@Job.Name</a>
                    </td>
                </tr>
                

            }
        </table>

    </div>
