
@model FindJob.Web.Models.WorkingTimeListViewModel

    <div class="list-group">
        <table>
            @foreach (var WorkingTime in Model.WorkingTimes)
            {
                <tr>
                    <td>
                        <a href="/Advertisement/FilterByWorkingTime?workintime=@WorkingTime.Id ">@WorkingTime.Name</a>

                    </td>
                </tr>
            }
          </table>
</div>

  

