<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="~/node_modules/bootstrap/js/src/dropdown.js"></script>
</head>
<body>
    <!--Navbar Kısmı---->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">İŞ BUL</a>
            </div>
            <ul class="nav navbar-nav">
               
            </ul>
         </div>
    </nav>

    <div class="container">


    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
        <button class="btn btn-danger">İLANA BAŞVURMAK İÇİN DEVAM ET</button>
        <button class="btn btn-danger">İLAN VERMEK İÇİN DEVAM ET</button>
        <button class="btn btn-danger">ADMİN OLARAK DEVAM ET</button>
    </div>
    @*<div class="col-md-12"> Footer </div>*@
</body>
</html>
